<ENVELOPE>
  <HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER>
  <BODY>
    <IMPORTDATA>
      <REQUESTDESC>
        <REPORTNAME>All Masters</REPORTNAME>
      </REQUESTDESC>
      <REQUESTDATA>
        <TALLYMESSAGE xmlns:UDF="TallyUDF">
          <UNIT NAME="{{ symbol }}" ACTION="Create">
            <NAME>{{ symbol }}</NAME>
            {% if baseUnit %}<ISSIMPLEUNIT>No</ISSIMPLEUNIT>
            <BASEUNITS>{{ baseUnit }}</BASEUNITS>
            <ADDITIONALUNITS>{{ additionalUnit }}</ADDITIONALUNITS>
            <CONVERSION>{{ conversion }}</CONVERSION>
            {% else %}<ISSIMPLEUNIT>Yes</ISSIMPLEUNIT>
            <SYMBOL>{{ symbol }}</SYMBOL>
            <DECIMALPLACES>{{ decimalPlaces }}</DECIMALPLACES>
            {% endif %}
            {% if formalName %}<FORMALNAME>{{ formalName }}</FORMALNAME>{% endif %}
          </UNIT>
        </TALLYMESSAGE>
      </REQUESTDATA>
    </IMPORTDATA>
  </BODY>
</ENVELOPE>
