<ENVELOPE>
  <HEADER><TALLYREQUEST>Import Data</TALLYREQUEST></HEADER>
  <BODY>
    <IMPORTDATA>
      <REQUESTDESC>
        <REPORTNAME>All Masters</REPORTNAME>
      </REQUESTDESC>
      <REQUESTDATA>
        <TALLYMESSAGE xmlns:UDF="TallyUDF">
          <STOCKITEM NAME="{{ name }}" ACTION="Create">
            <NAME>{{ name }}</NAME>
            <PARENT>{{ group }}</PARENT>
            <BASEUNITS>{{ unit }}</BASEUNITS>
            <OPENINGBALANCE>{{ openingBalance }}</OPENINGBALANCE>
            <OPENINGRATE>{{ openingRate }}</OPENINGRATE>
            <OPENINGVALUE>{{ openingValue }}</OPENINGVALUE>
            {% if description %}<DESCRIPTION>{{ description }}</DESCRIPTION>{% endif %}
            {% if partNumber %}<PARTNO>{{ partNumber }}</PARTNO>{% endif %}
            {% if costingMethod %}<COSTINGMETHOD>{{ costingMethod }}</COSTINGMETHOD>{% endif %}
            {% if gstTypeOfSupply %}<GSTTYPEOFSUPPLY>{{ gstTypeOfSupply }}</GSTTYPEOFSUPPLY>{% endif %}
            {% if hsnCode or taxability or isReverseChargeApplicable is not undefined or gstIneligibleItc is not undefined %}<GSTDETAILS.LIST>
              <APPLICABLEFROM>{{ gstDetailsApplicableFrom }}</APPLICABLEFROM>
              <CALCULATIONTYPE>On Value</CALCULATIONTYPE>
              {% if hsnCode %}<HSNCODE>{{ hsnCode }}</HSNCODE>{% endif %}
              {% if taxability %}<TAXABILITY>{{ taxability }}</TAXABILITY>{% endif %}
              {% if isReverseChargeApplicable is not undefined %}<ISREVERSECHARGEAPPLICABLE>{{ "Yes" if isReverseChargeApplicable else "No" }}</ISREVERSECHARGEAPPLICABLE>{% endif %}
              {% if gstIneligibleItc is not undefined %}<GSTINELIGIBLEITC>{{ "Yes" if gstIneligibleItc else "No" }}</GSTINELIGIBLEITC>{% endif %}
            </GSTDETAILS.LIST>{% endif %}
            {% if rateOfVat is not undefined %}<RATEOFVAT>{{ rateOfVat }}</RATEOFVAT>{% endif %}
            {% if ignoreNegativeStock is not undefined %}<IGNORENEGATIVESTOCK>{{ "Yes" if ignoreNegativeStock else "No" }}</IGNORENEGATIVESTOCK>{% endif %}
            {% for key, value in extraFields %}<{{ key }}>{{ value }}</{{ key }}>
            {% endfor %}
          </STOCKITEM>
        </TALLYMESSAGE>
      </REQUESTDATA>
    </IMPORTDATA>
  </BODY>
</ENVELOPE>
